a {
    text-decoration: none;
    color: #fff;
}
.contact-page {
    height: 90vh;
    font-family: 'Roboto Condensed', sans-serif;
    .main {
        display: flex;
        // width: 100%;
        // justify-content: space-between;
        // align-items: center;
        height: 80%;
        .info-container {
            width: 40%;
            border: 2px solid var(--dark-pink);
            border-radius: 7px;
            margin: 90px;
            align-items: center;
            display: flex;
            justify-content: center;
            .info {
                width: 50%;
                font-size: 20px;
            }
            .mail {
                background-color: var(--dark-pink);
                color: #fff !important;
                font-family: 'Fugaz One', cursive;
                text-decoration: none;
                padding: 11px;
                border-radius: 9px;
                a {
                    font-size: 19px;
                    letter-spacing: 0.4px;
                    font-weight: normal;
                }
            }
        }
        .img-container{
            // width: 50%;
            position: relative;
            display: flex;
            .hey-1{
                position: absolute;
                left: 80px;
                
            }
            // .hey-2{
            //     position: absolute;
            //     left: 270px;
            //     bottom: 0px;
            // }
        }
    }
    .heading {
        font-size: 60px;
        font-family: 'Berkshire Swash', cursive;
        color: var(--dark-pink);
        text-align: center;
        margin-top: 100px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .contact-page {
        .main {
            flex-direction: column;
            .img-container {
                display: none;
            }
        }
    }
}