.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.reveal {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 137, 137,0.7);
    transition: 4s cubic-bezier(0.175,0.885,0.32,1.275);
    animation: disappear 3s forwards;
}
@keyframes disappear{
    50% {
        height: 0%;
    }
    100% {
        height: 0%;
        display: none;
    }
}
.custom-cursor {
    
}
.menu-links {
    // position: relative;
    .about-link,
    .work-link,
    .contact-link {
        z-index:2;
        position: absolute;
        font-size: 30px;
        color: #fbd6d260;
        font-family: 'Fugaz One', cursive;
        text-decoration: none;
    }
    .about-link {
        left: 190px;
        top: 50px;
        transform: scale(1);
        color: #fbd6d260;
        transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .work-link {
        right: 170px;
        top: 80px;
        transform: scale(1);
        color: #fbd6d260;
        transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .contact-link {
        left: 440px;
        bottom:100px;
        transform: scale(1);
        color: #fbd6d260;
        transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .hovered {
        transform: scale(2.5);
        color: #F68989;
        transition: 4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    // .about-link:hover,
    // .work-link:hover,
    // .contact-link:hover {
    //     transform: scale(3);
    //     transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    // }
}
.top-container {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: center;
    .bg-big {
        color: #fbd6d260;
        font-size: 500px;
        position: absolute;
        left: -1120px;
        font-family: 'Fugaz One', cursive;
        cursor: default;
    }
    .center-box {
        // border: 1px solid black;
        height: 75vh;
        width: 100vw;
        border-radius: 20px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .name-container {
        color: #F68989;
        .my-name {
            font-family: 'Berkshire Swash', cursive;
            font-size: 100px;
        }
        .info-text {
            font-weight: 600;
            letter-spacing: 1.3px;
            font-size: 17px;
            font-family: 'Roboto Condensed', sans-serif;
        }
    }
}
@media screen and (max-width: 480px) {
    .top-container {
        .bg-big {
            display: none;
        }
        .name-container {
            text-align: center;
            .my-name {
                font-size: 35px;
            }
        }
    }
}